<head>
    <title>Contact Widget</title>
</head>
<div class="contact-widget">
    <div id={{ contact.id }} class="contact-widget-data">
        <div class="widget-data-container">
            <span class="data-span">{{ contact.name }}</span>
        </div>
        <div class="widget-data-container">
            <span class="data-span">{{ contact.company }}</span>
        </div>
        <div class="widget-data-container">
            <span class="data-span">{{ contact.phone }}</span>
        </div>
        <div class="widget-data-container">
            <span class="data-span">{{ contact.email }}</span>
        </div>

    </div>
    <button class="widget-button edit-button">
        <i class="fa-solid fa-pen edit-icon"></i>
    </button>
    <button class="widget-button delete-button">
        <i class="fa-solid fa-trash-can"></i>
    </button>
</div>
